a, a:hover, a:active, a:visited, a:focus {
  outline: 0;
  border: 0;
}

#controls {
	margin: 20px 0 0 0;
}

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.sidebar-module {
	padding-right: 5px;
	border-right: 1px solid black;
}

.navbar .navbar-brand {
	font-weight: bold;
	color: white;
}

.navbar span.tagline {
	color: #2ecc71;
	font-style: italic;
	display: block;
	padding-top: 17px;
}

#dishes {
	margin-top: 20px;
}

#dishes .dish {
	width: 19%;
	margin-right: 1%;
	float: left;
}

#dishes .dish img {
	height: auto;
	width: 100%;
}

#dishes .dish span {
}

#dishes .dish .dish-image-and-name {
	height: 220px;
	padding: 2px;
	border: 1px solid black;
}

#dishes .dish .dish-name {
	background: #eee;
	font-weight: bold;
	font-size: 22px;
}

#dishes .dish .dish-description {
	font-size: 12px;
}

.footer {
	margin: 30px 0 0 0;
	padding: 10px 0 0 0;
	border-top: 1px solid #ccc;
	font-size: 12px;
	text-align: center;
}

.modal-content {
	padding: 20px;
}

