<div id="DishControllerView" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" ng-controller="DishController">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-sm-6">
          <h2>{{ currentDish.name }}</h2>
          
          <span class="pull-left"><img src="images/{{ currentDish.image }}" /></span>

          {{ currentDish.description }}
        </div>
        <div class="col-sm-6">
          <h3>Ingredients for {{ numberOfGuests }} people</h3>
          
          <div id="ingredients">
            <div class="ingredient" ng-repeat="i in currentDish.ingredients">
              {{i.quantity}} {{i.unit}} {{i.name}} <span class="pull-right">SEK {{i.price}}</span>
            </div>
            <div class="total">
              <button type="button" class="btn btn-default" ng-click="confirmDish()">
                <span class="glyphicon glyphicon-star"></span> Confirm dish
              </button>
              <span class="pull-right">SEK {{priceOfCurrentDish}}</span>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
</div>
