<div class="sidebar-module sidebar-module-inset" >
  <h4>My Dinner for {{numberOfGuests}} guests</h4>
  <p>Number of Guests <span class="pull-right">
    <form name="guestForm">
      <input name="numberOfGuests" type="text" ng-model="n" value="{{numberOfGuests}}" ng-change="setNumberOfGuests(n)" />
    </form>
  </p>

  <p>Dish Name <span class="pull-right">Cost</span></p>
  <ul class="menu">

    <div class="dish" ng-repeat="d in dishesSelected">
          <p>{{d.name}} <span class="pull-right">SEK {{getDishPrice(d)}}
            <a class="menu-delete" ng-click="removeDish(d)">X</a>
          </span></p>
    </div>
  </ul>

  <p>SEK <span class="total-cost">{{ totalPrice }}</span></p>
  <p>
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-star"></span> Confirm dinner
    </button>
  </p>          
</div>
